<form [formGroup]="this.formGroup">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" placeholder="檔案路徑" formControlName="path">
                    <br>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" placeholder="locale路徑" formControlName="defaultLocalePath">
                    <br>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" placeholder="localeEn路徑" formControlName="enLocalePath">
                    <br>
                    <button type="button" class="btn btn-info" [disabled]="!formGroup.valid" (click)="trans()">Refactor</button>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                        placeholder="編碼" formControlName="charset">
                        <br>
                        <button type="button" class="btn btn-danger" [disabled]="!this.content" (click)="addReplceTarget()">add replce target</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>


    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col">
                    <pre class="fileContentBlock" *ngIf="this.content">{{this.content}}</pre>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <strong>Replace Targets :</strong>
                    <hr>

                <div *ngFor="let replaceTarget of replaceTargets;let idx = index;">
                    <div class="row">
                        <div class="col-9">
                            <pre> key:{{replaceTarget.key}}  target:{{replaceTarget.targetStr}} </pre>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-info" (click)="removeThisReplaceTarget(idx)">remove</button>
                        </div>
                    </div>
                    <hr>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

</form>